.container
{
    margin-top: 10px;
    max-width: 600px;
    max-height: 600px;
    margin:30px, auto;
    padding:15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-label{
    font-weight: bold;
}